
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "VelaSans-GX", VelaSans-GX;
    --font-serif: "NotoSerif-Bold", serif;
}

@font-face {
    font-family: hFont;
    src: url(./NotoSerif-Bold.ttf);
}

@font-face {
    font-family: pFont;
    src: url(./VelaSans-GX.ttf);
 }
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: rgb(189, 88, 180);
    font-family: pFont;
}

body {
    display: grid;
    place-items: center;
}

h1 {
    font-family: hFont;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(248, 195, 244);
    z-index: 5;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    font-family: pFont;
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .page-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .card {
        height: 250px;
        width: 350px;
        border-radius: 5px;
    }
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
background-image: url(./Cloud.jpg);
}

.card:nth-child(2):before {
background-image: url(./cybersecurity.jpg);
}

.card:nth-child(3):before {
background-image: url(./hosting.jpg);
}

.card:nth-child(4):before {
background-image: url(./networking.jpeg);
}

.card:nth-child(5):before {
background-image: url(./shield.jpg);
}

.card:nth-child(6):before {
background-image: url(./UIUX.jpg);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.title {
    font-family: hFont;
    font-size: 25px;
    font-weight: 900;
    line-height: 0.5px;
    color: rgb(212, 126, 205)
}

.des {
    font-family: pFont;
    font-size: 18px;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-family: pFont;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: #111;
    background-color: rgb(189, 88, 180);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(189, 88, 180);
    border: solid 3px rgb(189, 88, 180);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.content {
    transform: translateY(calc(100% - 4.5rem));
}

.content>* {
    opacity: 1;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card:hover {
    align-items: center;   
}

.card:nth-child(1):hover:before {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(95, 30, 95, 0.70)), url(./Cloud.jpg);
    background-size: cover;
    }

.card:nth-child(2):hover:before {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(95, 30, 95, 0.70)), url(./cybersecurity.jpg);
    background-size: cover;
        }
        
.card:nth-child(3):hover:before {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(95, 30, 95, 0.70)), url(./hosting.jpg);
    background-size: cover;
        }
        
.card:nth-child(4):hover:before {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(95, 30, 95, 0.70)), url(./networking.jpeg);
    background-size: cover;
        }
        
.card:nth-child(5):hover:before {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(95, 30, 95, 0.70)), url(./shield.jpg);
    background-size: cover;
        }
        
.card:nth-child(6):hover:before {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(95, 30, 95, 0.70)), url(./UIUX.jpg);
    background-size: cover;
        }

.card:hover:before {
    background: rgba(44, 2, 2, 0.986);
}

.card:hover:after {
    transform: translateY(-50%);
}

.card:hover .content {
    
    transform: translateY(0);
}

.card:hover .content>* {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
    
}